.footer {
  background-color: #8976b1;
  font-size: 1.4rem;
  color: $btn-font-color;
  &__logo-box {
    display: flex;
    justify-content: center;
  }
  &__logo-MK {
    height: auto;
    width: 25rem;
    margin: 8rem 0 8rem 0;
  }
  .row {
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    & div:first-child {
      margin-left: 1rem;
    }
    & div:last-child {
      margin-left: auto;
    }
  }
  .col-1-of-2 {
    width: 40%;
    @include respond(big-desktop) {
      width: 25%;
    }
    @include respond(desktop) {
      width: 35%;
    }
  }
  &__navigation {
    border-top: 1px solid $color-dark-grey-1;
    padding-top: 0.5rem;
    display: inline-block;
  }
  &__list {
    text-transform: uppercase;
    cursor: pointer;
  }
  &__item {
    display: inline-block;
    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }
  &__link {
    text-decoration: none;
    color: $btn-font-color;
    &:hover,
    &:active {
      transform: rotate(5deg) scale(1.3);
    }
  }
  &__copyright {
    border-top: 1px solid $color-dark-grey-1;
    padding-top: 0.5rem;
    margin-left: 20%;
    display: flex;
    justify-self: flex-end;
    margin-right: 1rem;
  }
}
