.about {
  height: 100vh;
  width: 100%;
  position: absolute;
  &-bg {
    position: absolute;
    // top: 1rem;
    height: inherit;
    width: inherit;
    // background-color: rgba(gray, 1);
    z-index: -1;
    overflow: hidden;
    opacity: 0.45;
  }
  .row {
    margin-top: 10rem;
    width: 100%;
    height: 25rem;
  }
  &-1 {
    height: 20rem;
    width: 65rem;
    padding: 3rem;
    margin-left: 12rem;
    //   clip-path: polygon(20% 0%, 100% 0, 79% 99%, 0% 100%);
    background-color: rgba(white, 0.6);
    //   // display: flex;
    //   // align-content: space-around;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    //   // background-color: #6666ff;
    // // box-shadow: 10px 10px #888888;

    // width: 75%;
    // margin: 0 auto;
    // box-shadow: 0 3rem 6rem rgba(0,0,0, .1);
    // background-color: rgba(#fff, .6);
    // border-radius: 3px;
    // padding: 6rem;
    // padding-left: 9rem;
    // font-size: $default-font-size;
    transform: skewX(-12deg);
    .picture-1 {
      position: relative;
      float: left;
      // top: 3rem;
      // left: 15rem;
      height: 10rem;
      width: 10rem;
      // clip-path: circle(50% at 50% 50%);
      &--img {
        height: 100%;
        // object-fit: cover;
      }
    }
    &__text {
      position: relative;
      float: left;
      // left: 15rem;
      height: 20rem;
      width: 45rem;
      transform: skewX(12deg);
    }
  }
}
