.header {
  height: 100vh;
  background-color: $background-color;
  &__bg--gif {
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.3;
    overflow: hidden;
  }
  &__logo-KM {
    position: absolute;
    top: 10rem;
    left: 28rem;
    height: 6rem;
  }
  &__box {
    position: absolute;
    top: 15rem;
    left: 25rem;
    height: 30rem;
    .heading-primary {
      height: 100%;
      width: 45rem;
      .text-1,
      .text-2,
      .text-3,
      .text-4,
      .text-5 {
        justify-content: center;
        display: flex;

        font-weight: 100;
        font-size: 2.5rem;
        color: $btn-font-color;
      }
      .text-2{
        // color:
        // linear-gradient(
        //   to right,
        //   red,
        //   yellow 10%
        // );
        // background: linear-gradient(to right, $btn-font-color 25%, 

        
        background: linear-gradient(90deg, $btn-font-color 40%, 
         $logo-color-1 67%, $logo-color-2 25%); 
        // background: linear-gradient(90deg, red 0%, orange 10%, orange 30%, yellow 50%, yellow 70%, green 90%, green 100%);
        // background:linear-gradient(217deg, $btn-font-color 70.71%),
        // linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
        // linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
        -webkit-text-fill-color: transparent; 
        -webkit-background-clip: text; 
      }
      .letters {
        color: #757575;
      }
    }
  }

  &__arrow {
    cursor: pointer;
    left: 44.5rem;
    position: absolute;
    top: 38rem;
    height: 0;
    width: 0;
    // transform: translateX(-50%) translateY(-50%);
    transition: transform 0.1s;
    visibility: hidden;

    // -webkit-animation: cssAnimation 0s ease-in 5s forwards;

    // @-webkit-keyframes cssAnimation {
    //   to {
    //     height: 12rem;
    //     width: 4rem;
    //     visibility: visible;
    //   }
    // }
    &-left,
    &-right {
      background-color: $btn-font-color;
      height: 4px;
      left: -5px;
      position: absolute;
      top: 50%;
      width: 100%;

      &:after {
        background-color: $color-dark-red-1;
        content: "";
        height: 100%;
        position: absolute;
        top: 0;
        transition: all $transition-time;
      }
    }

    &-left {
      transform: rotate(45deg);
      transform-origin: bottom right;

      &:after {
        left: 100%;
        right: 0;
        transition-delay: 0s;
      }
    }

    &-right {
      top: 64px;
      transform: rotate(135deg);
      transform-origin: top right;

      &:after {
        left: 0;
        right: 100%;
        transition-delay: $transition-time;
      }
    }

    &:hover & {
      &-left:after {
        left: 0;
        transition-delay: $transition-time;
      }

      &-right:after {
        right: 0;
        transition-delay: 0s;
      }
    }

    &:active {
      transform: translateX(-2%) translateY(-2%) scale(0.9);
    }
  }

  // background-image: linear-gradient(
  //     to right bottom,
  //     rgba(green 0.8),
  //     rgba(red, 0.8)),
  // url(../../img/rysyMorning.jpg);

  // background-size: cover;
  // background-position: top;
  // position: relative;

  // &-img{
  // height: 100%;
  // width: 100%;
  // background-image:
  // linear-gradient(
  //     to right bottom,
  //     rgba(#e6e6ea, 0.3),
  //     rgba(#f4f4f8, 0.1)),
  // url(../../img/code.jpg);
  // filter: blur(2px);
  // -webkit-filter: blur(8px);
  // transform: scale(1.9);
  // background-color: rgba(0,0,0, 0.4);
  // background-size: cover;
  // background-position: top;
  // position: relative;
  // }
}
// @mixin icon-colors($fallback: black) {
//     fill: $fallback;
//     @content;
//   }

//   .icon--color {
//       width:200px;
//       height:200px;
//     //   @include icon-colors(#ef5b49) {
//         --handle-color: #c13127;
//         --cup-color: #ef5b49;
//         --smoke-color: #cacaea;
//       }

//   .icon {
//     display: inline-block;
//     width: 70px;
//     height: 70px;
//     background-size: cover;
//   }
//   .icon-bike {
//       fill: black;
//     background-image: url("../../img/KMlogo.svg");
//     --handle-color: white;
//   }
//   .icon-bike:hover,
//   .icon-bike:focus {
//     // background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/3/icon-bike-red.svg);
//   }
