@import '../styles/variables.module.scss';

.hand-font-style {
  font-family: 'Montserrat';
}

.font-size-xxs {
  font-size: $size-xxs;
}

.font-size-xs {
  font-size: $size-xs;
}

.font-size-s {
  font-size: $size-s;
}

.font-size-m {
  font-size: $size-m;
}

.font-size-l {
  font-size: $size-l;
}

.font-size-xl {
  font-size: $size-xl;
}

.text-align-center {
  text-align: center;
}
