$background-color-1: #292929;
$background-color-2: #969a9d;
$font-color-1: #eec201;
$font-color-2: #fae12c;

$logo-color-1: #fe3e54;
$logo-color-2: #00e85be6;

$svg-hover-green: invert(43%) sepia(94%) saturate(4139%) hue-rotate(331deg)
  brightness(101%) contrast(99%);
$svg-hover-red: invert(55%) sepia(94%) saturate(577%) hue-rotate(93deg)
  brightness(100%) contrast(105%);

$buttonHoverCol: #fae12c;
$buttonPrimaryCol: #969a9d;
