@import './mixins.module.scss';

$background-color-1: #292929;
$background-color-2: #969a9d;
$font-color-1: #eec201;
$font-color-2: #fae12c;
$font-color-3: #e3e6e9;
$font-color-4: #222020;

$logo-color: #e6e7e7;

$svg-hover-green: #00e85be6;
$svg-hover-red: #fe3e54;

$buttonPrimaryCol: #e3e6e9;
$buttonFontCol: #000;
$buttonBg: rgb(195, 143, 255);

$size-xxs: 1.2vmax;
$size-xs: 1.4vmax;
$size-s: 2.4vmax;
$size-m: 2.5vmax;
$size-l: 2.6vmax;
$size-xl: 2.8vmax;

$header-margin: 0.8vw 0;
$header-weight: 200;
