@import '../../styles/variables.module.scss';

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15rem 10rem 15rem;
  &-quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 2rem;
    &-author {
      margin: 5px 0 10px;
    }
  }
  .link {
    font-weight: bold;
    color: inherit;
  }
}
