@import '../../styles/mixins.module.scss';
@import '../../styles/variables.module.scss';

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem 15rem 10rem 15rem;

  @include respond(tab-land) {
    padding: 3rem 5rem 5rem 5rem;
  }

  @include respond(tab-port) {
    padding: 3rem 3rem 5rem 3rem;
  }

  @include respond(phone) {
    padding: 3rem 1.5rem 5rem 1.5rem;
  }

  &-quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 2rem;
    font-style: italic;

    &-author {
      margin: 5px 0 10px;
    }
  }

  &-header {
    font-weight: bold;

    @include respond(tab-port) {
      font-size: $size-l;
    }

    @include respond(phone) {
      font-size: $size-m;
    }
  }

  &-description {
    font-size: $size-l;

    @include respond(tab-port) {
      font-size: $size-m;
    }

    @include respond(phone) {
      font-size: $size-s;
    }
  }

  .link {
    font-weight: bold;
    color: inherit;
    @include respond(tab-land) {
      font-weight: 200;
    }
  }
}
