@import '../../../styles/variables.module.scss';
@import '../../../styles/mixins.module.scss';

@mixin logoSize {
  height: 4rem;
  margin-right: 0.5rem;
}
@mixin svgHover($color) {
  cursor: pointer;
  filter: $color;
}

.header-wrapper {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: $background-color-1;
}

.header {
  height: 6rem;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  &-link {
    text-decoration: none;
  }
  &-icon {
    @include logoSize;
  }
  &-text {
    &--1 {
      color: $logo-color-1;
    }
    &--2 {
      color: $logo-color-2;
    }
  }
}
.navigation {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}
.home-icon {
  @include logoSize;
  // height: 4.5rem;
  &:hover,
  &-active {
    @include svgHover($svg-hover-green);
  }
}

.projects-icon {
  @include logoSize;
  // height: 4.5rem;
  &:hover,
  &-active {
    @include svgHover($svg-hover-red);
  }
}

.about-icon {
  @include logoSize;
  // height: 4.15rem;
  &:hover,
  &-active {
    @include svgHover($svg-hover-green);
  }
}

.images-icon {
  @include logoSize;
  &:hover,
  &-active {
    @include svgHover($svg-hover-red);
  }
}

.linked-in-icon {
  @include logoSize;
  &:hover,
  &-active {
    @include svgHover($svg-hover-green);
  }
}

.github-icon {
  @include logoSize;
  &:hover,
  &-active {
    @include svgHover($svg-hover-red);
  }
}
