@mixin projectsDescription {
  color: white;
  font-size: 2rem;
  // position: absolute;
  //   visibility: visible;
}
$h2-font-size: 2rem;
$paragraph-font-size: 1.6rem;

.project-details {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  &-description {
    height: 60rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-about {
      padding: 2rem;
      &-header {
        text-align: center;
        font-size: $h2-font-size;
      }
      &-paragraph {
        font-size: $paragraph-font-size;
      }
    }
  }

  &-container {
    display: flex;
    height: 60rem;
    width: 50%;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    &-img {
      height: 43rem;
    }
  }

  &-name {
    font-size: 3rem;
  }
  &-technologies {
    font-size: $h2-font-size;
  }
  &-paragraph {
    font-size: 1.6rem;
    margin-bottom: 5rem;
  }
}

.button {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
}
