@import '../../../styles/variables.module.scss';

@mixin projectsDescription {
  color: white;
  font-size: 2rem;
}

.project-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
  color: $font-color-4;
  &-description {
    height: 60rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    &-info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &-about {
      width: 100%;
      margin-top: 2rem;
      text-align: center;
      &-header {
        text-align: center;
        font-size: $size-xs;
      }
      &-paragraph {
        font-size: $size-xxs;
      }
    }
  }

  &-container {
    display: flex;
    height: 60rem;
    width: 50%;
    border-radius: 0.5rem;
    justify-content: center;
    align-items: center;
    &-img {
      max-width: 90%;
      max-height: 90%;
      box-shadow: 1px 1px 5px black;
    }
  }

  &-name {
    font-size: 3rem;
  }
  &-technologies {
    font-size: $size-xs;
  }
  &-paragraph {
    font-size: 1.6rem;
    margin-bottom: 5rem;
  }
}

.button {
  text-decoration: none;
  color: inherit;
  padding: 1rem;
}
