@import '../../../styles/variables.module.scss';
@import '../../../styles/mixins.module.scss';

.footer {
  display: flex;
  justify-content: center;
  background-color: #8976b1;
  position: fixed;
  width: 100%;
  bottom: 0;
  font-size: $size-s;

  @include respond(tab-port) {
    font-size: $size-xxs;
  }

  &__copyright {
    padding-top: 0.2rem;
    display: flex;
    justify-self: flex-end;
  }
}
